a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.cardHome{    
    margin-top: 40px;    
}

.cardImg{
    max-inline-size: 100%;
    block-size: auto;    
    aspect-ratio: 2/1;
    object-fit: cover;
}

.cardTitle-price{ 
  white-space: nowrap;
  inline-size: max-content; 
}


.yellow{
  color: #ffd440;
}

.blue{
  color: #007aff;
  white-space: break-spaces;
}

.dark{
  color:black;
}

@media (width < 1200px) {
  .block{
    display: block;
  }
  .cardTitle{
    font-size: 0.9em;    
  }
  
}

@media only screen and (width > 1200px) {  
  .cardHome{    
    margin-top: 40px;
    min-height: 290px;
  }
}

@media only screen and (width < 992px) 
{
  .cardHome{    
    margin-top: 40px;
    min-height: 226px;
  }
}


@media only screen and (width < 768px) {
  .block{
    display: inline;
  }  
}